.pb-sm-5,
.py-sm-5 {
  padding-top: 10px !important;
}

.nav-link {
  text-transform: uppercase !important;
  font-size: 14px !important;
}

.product-sec1 {
  border-radius: 10px;
}

.form-control {
  border-radius: 10px 0px 0px 10px;
  margin-right: 0 !important;
}

.close1 {
  right: 0 !important;
}

table.timetable_sub {
  width: 98% !important;
  margin: 0 auto;
}

.timetable_sub th {
  background-color: #28a745;
}

/* Admin Login */
form {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 20px 25px;
}

form h3 {
  text-align: center;
  font-size: 25px;
}

.form-login {
  width: 100%;
  margin-top: 20px;
}

.form-group {
  padding-bottom: 15px;
  position: relative;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.form-group input {
  width: 300px;
  padding: 10px 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.form-group input::placeholder {
  font-size: 14px;
}

.form-group input:focus {
  transition: all 0.5 linear;
  border-color: #3d6ef7;
}

.form-group i.icon-form {
  position: absolute;
  z-index: 10;
  padding: 0 10px;
}

.form-group i.eye-pass {
  position: absolute;
  right: 10px;
}

.sweet-alert {
  padding: 10px;
  position: fixed;
  top: 20px;
  right: 10px;
  max-width: 350px;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  transition: all 0.3s linear;
  transform: translateX(110%);
}

.sweet-alert.show {
  transform: translate(0);
}

.sweet-alert i.alert-close {
  position: absolute;
  right: 20px;
  top: 10px;
  background: #20e3b2;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.icon-message {
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
}

i.fa-check {
  background-color: #20e3b2;
}

i.fa-times {
  background-color: crimson;
}

.alert-message {
  margin-top: 22px;
}

.alert-message span {
  font-size: 14px;
}

.form-group .login__button {
  padding: 15px 30px;
  background-color: #3d6ef7;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}
