.pb-sm-5,
.py-sm-5 {
  padding-top: 10px !important;
}

.nav-link {
  text-transform: uppercase !important;
  font-size: 14px !important;
}

.product-sec1 {
  border-radius: 10px;
}

.form-control {
  border-radius: 10px 0px 0px 10px;
  margin-right: 0 !important;
}

.close1 {
  right: 0 !important;
}

table.timetable_sub {
  width: 98% !important;
  margin: 0 auto;
}

.timetable_sub th {
  background-color: #1fa2ff;
}

/* .product-row {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
} */

/* slick slider */
.slick-dots {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 15px;
}

.slick-dots button {
  font-size: 0;
  background-color: #eee;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  cursor: pointer;
  outline: none;
  border: 0;
  transition: all 0.25s linear;
}

.slick-active button {
  background-color: #1fa2ff;
  width: 45px;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  bottom: 0;
}

.slick-prev {
  border: 1px solid #1fa2ff;
  color: #1fa2ff;
  background-color: transparent;
  right: 80px;
}

.slick-next {
  background-color: #1fa2ff;
  color: #fff;
  right: 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100% !important;
  padding: 0 0 !important;
  margin-bottom: 40px;
}

a.pd-name {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

span.number-buy {
  font-size: 14px;
}

.star-vote i.fa-star {
  color: coral;
}

/*-- carousel-slider --*/

.carousel-item.item1 {
  background: url(../images/banner0.jpg) no-repeat center !important;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.carousel-item.item2 {
  background: url(../images/b2.jpg) no-repeat center !important;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.carousel-item.item3 {
  background: url(../images/b3.jpg) no-repeat center !important;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.carousel-item.item4 {
  background: url(../images/b4.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

h3.heading-tittle1 {
  margin-bottom: 30px !important;
}
